:root{
    --sidePanelWidth: 20vw;
    --primary-color: #d50000;
    --primary-light: #ff5131;
    --primary-dark: #9b0000;

    --secondary-color: #ffcdd2    ;
    --secondary-light: #ffffff;
    --secondary-dark: #cb9ca1;

    --text-on-primary: white;
    --text-on-secondary: black;

    --default-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}   

@font-face{
    font-family: Product Sans;
    src: url(../fonts/ProductSans-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
}
    /* Side Panel Styles */
#sidePanel{
    position: fixed;
    width: 50px;
    height: 104vh;  
    overflow: hidden;
    z-index: 100;
}

.sidePanelSize{
    position: absolute;
    z-index: -3;
    width: inherit;
    height:104vh;
}

.mainSideContent{
    z-index: 10;
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
}

.sideItem {
    width: var(--sidePanelWidth);
    height: 60px;
    display:flex;
    flex-direction: row;
    transition: 0.35s;
    background: none;
}

.sideItem:hover{
    background: rgba(139, 151, 255, 0.582);
}

.sideItemImg{
    width: 35px;
    margin-left: 2%;
    margin-right: 10px;
    justify-self: flex-start;
    align-self: center;
    user-select: none;
}

.sideItemText{
    display: flex;
    width: 100%; 
    justify-content:center; 
    align-items:center;
    margin-right: 25px;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    font-weight: bold;
}




/* @media only screen and (max-width: 1600px){
    #authorName{
        text-align: left;
    }  
} */

@media only screen and (max-width: 1450px){
    :root{
        --sidePanelWidth: 30vw;
    }
    #authorName{
        margin-left: 70%;
        width: 30%;
    }
}


@media only screen and (max-width: 1040px){
    :root{
        --sidePanelWidth: 40vw;
    }
    #authorName{
        margin-left: 60%;
        width: 40%;
    }  
}

@media only screen and (max-width: 800px){
    :root{
        --sidePanelWidth: 50vw;
    }
    #authorName{
        margin-left: 50%;
        width: 50%;
    }
}

@media only screen and (max-width: 420px){
    :root{
        --sidePanelWidth: 70vw;
    }
    #authorName{
        margin-left: 35%;
        width: 65%;
    }
}   